$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/* Note: CodeMirror applies its own styles which can be customized in the same way.
   To apply a background to the entire editor, we need to also apply it to CodeMirror. */
.CodeMirror {
  background-color: #aaa;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    // padding-top: 20px;
    // padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.code-column {
  height:100%;
  border-left: 1px solid #f1f1e7;
  box-shadow: 0 -1px 10px #f1f1e7;
  // background: #fcfcfa;
  background: #f5f5f5;
}

.column-heading {
  color: #2c2c2c;
  border-bottom: 1px solid #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

.site-container {
  position:absolute;
  height:100%;
  width:100%;
}

.powered-by-firepad {
  display:none;
}

.firepad {
  height:100%;
}

.test-iframe {
  height:100%;
  width:100%;
  border:none;
  background: #f5f5f5;
}

#run-test-button {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

#about-question-icon {
  cursor: pointer;
  cursor: hand;
  color:grey;
}

#exercism-logo {
  width:18px;
  padding-top:0px;
  margin-top:0px;
  margin-right: 10px;
}

#mocha {
  margin: 60px 10px;
}

// Page Transitions Below
// .view-container {
//   position: relative;
// }

// .view-frame.ng-enter, .view-frame.ng-leave {
//   background: white;
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
// }

// .view-frame.ng-enter {
//   -webkit-animation: 0.5s fade-in;
//   -moz-animation: 0.5s fade-in;
//   -o-animation: 0.5s fade-in;
//   animation: 0.5s fade-in;
//   z-index: 100;
// }

// .view-frame.ng-leave {
//   -webkit-animation: 0.5s fade-out;
//   -moz-animation: 0.5s fade-out;
//   -o-animation: 0.5s fade-out;
//   animation: 0.5s fade-out;
//   z-index:99;
// }

// @keyframes fade-in {
//   from { opacity: 0; }
//   to { opacity: 1; }
// }
// @-moz-keyframes fade-in {
//   from { opacity: 0; }
//   to { opacity: 1; }
// }
// @-webkit-keyframes fade-in {
//   from { opacity: 0; }
//   to { opacity: 1; }
// }

// @keyframes fade-out {
//   from { opacity: 1; }
//   to { opacity: 0; }
// }
// @-moz-keyframes fade-out {
//   from { opacity: 1; }
//   to { opacity: 0; }
// }
// @-webkit-keyframes fade-out {
//   from { opacity: 1; }
//   to { opacity: 0; }
// }
// // end page transitions

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}