<div id="about-text">
  <div id="about-container">
      <a ng-href="/{{path_back_to_home}}" class="about-button pull-right">
    <h3><span class="glyphicon glyphicon-remove"></span></h3>
  </a>
    <h1 class="text-center">Run JavaScript tests in your browser.<br/>Need help? Give your link to a friend or teacher and code together!</h1>
    <br/>

    <h4 class="text-center my-name">Designed &amp; Developed by <a href="https://twitter.com/alex_baden" target="_blank">Alex Baden</a></h4>
  </div>
</div>