<div ng-include="'partials/navbar'"></div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 code-column" id="pad1" ng-model="pad1Content">
  <p class="column-heading">TEST</p>
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 code-column" id="pad2">
  <p class="column-heading">JAVASCRIPT</p>
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 code-column">
  <p class="column-heading">OUTPUT</p>
  <a ng-click="run()">Run</a>
  <iframe ng-src="{{iframeUrl}}">
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>

{{pad1Content}}