<html>
 <head>
   <title>Jasmine</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <link rel="stylesheet" href="/bower_components/jasmine/lib/jasmine-core/jasmine.css">

   <!--
   UNCOMMENT FOR MOCHA SUPPORT
   <link rel="stylesheet" href="/bower_components/mocha/mocha.css" />
   <script src="/bower_components/mocha/mocha.js"></script>
   <script src="/bower_components/chai/chai.js"></script>
   <script>mocha.setup('bdd')</script>
   <script>
     function assert(expr, msg) {
       if (!expr) throw new Error(msg || 'failed');
     }
     var expect = chai.expect;
   </script>
   -->
  <script src="/bower_components/jasmine/lib/jasmine-core/jasmine.js"></script>
  <script src="/bower_components/jasmine/lib/jasmine-core/jasmine-html.js"></script>
  <script src="/bower_components/jasmine/lib/jasmine-core/boot.js"></script>

   <!-- Source file -->
   <script type="text/javascript"><%- pad2Content %></script>
   <!-- Test file -->
   <script type="text/javascript"><%- pad1Content %></script>

   <!--
   <script>
      UNCOMMENT FOR MOCHA SUPPORT
     onload = function(){
       var runner = mocha.run();
       // runner.globals(['foo', 'bar', 'baz']);

       // runner.on('test end', function(test){
       //   console.log(test.fullTitle());
       // });
     };
   </script>
    -->
 </head>
 <body>
   <div id="jasmine"></div>
 </body>
</html>